#####  Atradius NRPE commands file created by was-iac script

## Allow arguments in commands
dont_blame_nrpe=1

command[web_urls_check]={{ nagios_plugins_dir | default('/usr/local/nagios/libexec') }}/web_check_urls_from_list.sh
