<?xml version="1.0" encoding="UTF-8"?>
<agent-input clean='true' temporary='true'>
	<server>
		 <repository location='{{ install_dir.path }}'/>
	</server>
	<install>
		<offering features='agent_core,agent_jre' id='com.ibm.cic.agent' version='{{ iim_version }}'/>
	</install>
</agent-input>
